@import "../../variables.scss";

.card {
  width: 300px;
  .imageContainer {
    position: relative;
    width: 300px;
    height: 300px;

    .heart {
      position: absolute;
      top: 0.5rem;
      right: 0.75rem;
      width: 2.5rem;
      height: 2.5rem;
      z-index: 2;
      background-color: inherit;
      border: none;
      cursor: pointer;
    }
  }

  .fullDetailInfoWrapper {
    pointer-events: none;
    .info {
      .left {
        max-width: 180px;
      }
      @media screen and (min-width: 1200px) {
        .left {
          max-width: 280px;
        }
      }
    }
  }

  .info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 0.5rem;

    .left {
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;

      .name {
        font-size: 1.5rem;
        color: $dark-gray;
        text-wrap: nowrap;
        padding-right: 0.5rem;
      }
      .statusContainer {
        display: flex;
        gap: 0.25rem;
      }

      & > span:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
    .origin {
      font-size: 1rem;
      font-style: italic;
    }

    .detailRight {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-style: italic;
    }
  }

  @media screen and (min-width: 768px) {
    width: 400px;
    .imageContainer {
      width: 400px;
      height: 400px;
    }
  }
}

.miniCard {
  display: flex;
  flex-flow: row nowrap;
  .imageContainer {
    height: 80px;
    width: 80px;
  }

  .info {
    padding: 0 0 0 0.5rem;
    flex-flow: column nowrap;
    height: 100%;
    .left {
      display: flex;
      flex-flow: column nowrap;
      .name {
        font-size: 1.25rem;
        margin: 0 !important;
      }
    }
    .miniRight {
      font-style: italic;
    }
  }
}
